In [2]:
import numpy as np
import pandas as pd
import json
from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize
from sklearn.cluster import KMeans
print('Libraries imported.')

Libraries imported.

In [3]:
# importing data from csv file...
# generating head of dataframe...
# dataframe consisting of three columns...
df = pd.read_csv('postalcodes_data.csv')
df.head(10)

  postcode           borough      neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [4]:
# ascending order by postcode column...
df.index.name = None
df.sort_values(['postcode'], ascending=True, axis=0, inplace=True)
df.head(10)

   postcode       borough    neighborhood
0       M1A  Not assigned    Not assigned
12      M1B   Scarborough         Malvern
11      M1B   Scarborough           Rouge
27      M1C   Scarborough  Highland Creek
28      M1C   Scarborough      Rouge Hill
29      M1C   Scarborough      Port Union
44      M1E   Scarborough       West Hill
43      M1E   Scarborough     Morningside
42      M1E   Scarborough       Guildwood
53      M1G   Scarborough          Woburn

In [5]:
# merging and combining rows and grouping by all columns...
df = df.groupby(['postcode', 'borough', 'neighborhood']).sum()
df.head(20)

Empty DataFrame
Columns: []
Index: [(M1A, Not assigned, Not assigned), (M1B, Scarborough, Malvern), (M1B, Scarborough, Rouge), (M1C, Scarborough, Highland Creek), (M1C, Scarborough, Port Union), (M1C, Scarborough, Rouge Hill), (M1E, Scarborough, Guildwood), (M1E, Scarborough, Morningside), (M1E, Scarborough, West Hill), (M1G, Scarborough, Woburn), (M1H, Scarborough, Cedarbrae), (M1J, Scarborough, Scarborough Village), (M1K, Scarborough, East Birchmount Park), (M1K, Scarborough, Ionview), (M1K, Scarborough, Kennedy Park), (M1L, Scarborough, Clairlea), (M1L, Scarborough, Golden Mile), (M1L, Scarborough, Oakridge), (M1M, Scarborough, Cliffcrest), (M1M, Scarborough, Cliffside)]

In [6]:
df = df.groupby(['postcode']).sum()
df.head()

Empty DataFrame
Columns: []
Index: [M1A, M1B, M1C, M1E, M1G]

In [7]:
# printing the number of rows of dataframe based on merged postcode column...
print ('data dimensions:', df.shape)

data dimensions: (180, 0)