In [49]:
import numpy as np 

import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json 

from geopy.geocoders import Nominatim 

import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium

print('Libraries imported.')

Libraries imported.

In [50]:
# importing data from csv file...
# generating head of dataframe...
# dataframe consisting of three columns...
df1 = pd.read_csv('Geospatial_Coordinates.csv')
df1.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [51]:
# printing the number of rows of dataframe based on merged postcode column...
print ('data dimensions:', df.shape)

data dimensions: (103, 3)

In [52]:
# replaced column name for consistency while merging two dataframes...
df1.columns = df1.columns.str.replace('Postal Code','postcode')
df1.head(10)

  postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476
5      M1J  43.744734 -79.239476
6      M1K  43.727929 -79.262029
7      M1L  43.711112 -79.284577
8      M1M  43.716316 -79.239476
9      M1N  43.692657 -79.264848

In [53]:
# importing previous data from csv file...
# generating head of dataframe...
# dataframe consisting of three columns...
df2 = pd.read_csv('postalcodes_data.csv')
df2.head(10)

  postcode           borough      neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [54]:
# merging both dataframes...
df1 = df1.merge(df2, on=['postcode'])
df1.head(20)

   postcode   Latitude  Longitude      borough              neighborhood
0       M1B  43.806686 -79.194353  Scarborough                     Rouge
1       M1B  43.806686 -79.194353  Scarborough                   Malvern
2       M1C  43.784535 -79.160497  Scarborough            Highland Creek
3       M1C  43.784535 -79.160497  Scarborough                Rouge Hill
4       M1C  43.784535 -79.160497  Scarborough                Port Union
5       M1E  43.763573 -79.188711  Scarborough                 Guildwood
6       M1E  43.763573 -79.188711  Scarborough               Morningside
7       M1E  43.763573 -79.188711  Scarborough                 West Hill
8       M1G  43.770992 -79.216917  Scarborough                    Woburn
9       M1H  43.773136 -79.239476  Scarborough                 Cedarbrae
10      M1J  43.744734 -79.239476  Scarborough       Scarborough Village
11      M1K  43.727929 -79.262029  Scarborough      East Birchmount Park
12      M1K  43.727929 -79.262029  Scarborough                   Ionview
13      M1K  43.727929 -79.262029  Scarborough              Kennedy Park
14      M1L  43.711112 -79.284577  Scarborough                  Clairlea
15      M1L  43.711112 -79.284577  Scarborough               Golden Mile
16      M1L  43.711112 -79.284577  Scarborough                  Oakridge
17      M1M  43.716316 -79.239476  Scarborough                Cliffcrest
18      M1M  43.716316 -79.239476  Scarborough                 Cliffside
19      M1M  43.716316 -79.239476  Scarborough  Scarborough Village West

In [55]:
# grouping columns in order...
df1 = df1.groupby(['postcode', 'borough', 'neighborhood','Latitude','Longitude']).sum()
df1.head(20)

Empty DataFrame
Columns: []
Index: [(M1B, Scarborough, Malvern, 43.806686299999996, -79.19435340000001), (M1B, Scarborough, Rouge, 43.806686299999996, -79.19435340000001), (M1C, Scarborough, Highland Creek, 43.7845351, -79.16049709999999), (M1C, Scarborough, Port Union, 43.7845351, -79.16049709999999), (M1C, Scarborough, Rouge Hill, 43.7845351, -79.16049709999999), (M1E, Scarborough, Guildwood, 43.7635726, -79.1887115), (M1E, Scarborough, Morningside, 43.7635726, -79.1887115), (M1E, Scarborough, West Hill, 43.7635726, -79.1887115), (M1G, Scarborough, Woburn, 43.7709921, -79.21691740000001), (M1H, Scarborough, Cedarbrae, 43.773136, -79.23947609999999), (M1J, Scarborough, Scarborough Village, 43.7447342, -79.23947609999999), (M1K, Scarborough, East Birchmount Park, 43.7279292, -79.26202940000002), (M1K, Scarborough, Ionview, 43.7279292, -79.26202940000002), (M1K, Scarborough, Kennedy Park, 43.7279292, -79.26202940000002), (M1L, Scarborough, Clairlea, 43.711111700000004, -79.2845772), (M1L, Scarborough, Golden Mile, 43.711111700000004, -79.2845772), (M1L, Scarborough, Oakridge, 43.711111700000004, -79.2845772), (M1M, Scarborough, Cliffcrest, 43.716316, -79.23947609999999), (M1M, Scarborough, Cliffside, 43.716316, -79.23947609999999), (M1M, Scarborough, Scarborough Village West, 43.716316, -79.23947609999999)]

In [ ]:
# End.